<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.useful_websites">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.useful_websites.CareerActivity" />
        <activity android:name="com.useful_websites.HandActivity" />
        <activity android:name="com.useful_websites.MoneyActivity" />
        <activity android:name="com.useful_websites.FoodActivity" />
        <activity android:name="com.useful_websites.HealthActivity" />
        <activity android:name="com.useful_websites.GameActivity" />
        <activity android:name="com.useful_websites.StudyActivity" />
        <activity android:name="com.useful_websites.NewsActivity" />
        <activity android:name="com.useful_websites.ProductivityActivity" />
        <activity android:name="com.useful_websites.TravelActivity" />
        <activity android:name="com.useful_websites.AboutActivity" />
        <activity android:name="com.useful_websites.ToolsActivity" />
        <activity android:name="com.useful_websites.SubmitWebsiteActivity" />
        <activity
            android:name="com.useful_websites.CategoryListActivity"
            android:label="@string/title_activity_category_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.useful_websites.pop"
            android:theme="@style/AppTheme.popTheme"/>
        <activity
            android:name="com.useful_websites.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5159801479844134~9147349243"/>
    </application>
</manifest>